<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd"
	>

<beans>
    <bean id = "userServiceImpl" 
          class = "com.onlymega.dgaisan.html5maker.dao.impl.UserDaoImpl" />

    <bean id = "tempDataDaoImpl" 
          class = "com.onlymega.dgaisan.html5maker.dao.impl.TempDataDaoImpl"/>

    <bean id = "membershipServiceImpl"
          class = "com.onlymega.dgaisan.html5maker.dao.impl.MembershipDaoImpl" />

    <bean id = "restoredPasswordServiceImpl"
          class = "com.onlymega.dgaisan.html5maker.dao.impl.RestoredPasswordDaoImpl" />

    <bean id = "bannerDao" 
          class = "com.onlymega.dgaisan.html5maker.dao.impl.BannerDaoImpl">
    </bean>

    <bean id = "cloudDao" 
          class = "com.onlymega.dgaisan.html5maker.dao.impl.CloudDaoImpl">
    </bean>

    <bean id = "bannerService" 
          class = "com.onlymega.dgaisan.html5maker.service.impl.BasicBannerService" >

        <property name="tempDataDao" ref="tempDataDaoImpl" />
        <property name="bannerDao" ref="bannerDao" />
        <property name="cloudDao" ref="cloudDao" />
    </bean>

    <bean id = "login" 
          class = "com.onlymega.dgaisan.html5maker.actions.LoginAction" 
          singleton = "false" >

        <property name="userDao" ref="userServiceImpl" />
        <property name="membershipDao" ref="membershipServiceImpl" />	
    </bean>

    <bean id = "register" 
          class = "com.onlymega.dgaisan.html5maker.actions.RegisterAction" >

        <property name="userService" ref="userServiceImpl" />
        <property name="membershipService" ref="membershipServiceImpl" />
    </bean>

    <bean id = "restorePassword"
            class = "com.onlymega.dgaisan.html5maker.actions.LostPasswordsAction">

            <property name="userService" ref="userServiceImpl" />
            <property name="restoredPasswordService" ref="restoredPasswordServiceImpl" />

    </bean>

    <bean id = "saveImage" 
            class = "com.onlymega.dgaisan.html5maker.actions.SaveImageAction"></bean>

    <bean id = "saveData" 
            class = "com.onlymega.dgaisan.html5maker.actions.SaveConfigAction">

            <property name="tempDataDao" ref="tempDataDaoImpl" />
    </bean>

    <bean id = "download"
            class = "com.onlymega.dgaisan.html5maker.actions.PublicDownloadAction">

            <property name="tempDataDao" ref="tempDataDaoImpl" />
    </bean>

    <bean id = "banner"
          class = "com.onlymega.dgaisan.html5maker.actions.BannerAction">

          <property name="bannerService" ref="bannerService" />
    </bean>
</beans>
